//overall
div#pagecont

    div
        h1.display-4.titlefont.visible-xs-
            
            strong Social Media Analysis
            h1.display-5.titlefont.visible-xs-  
            strong Ammar 1161302378

        hr.style14

    span.sexy_line.mb-3.w-75
    div.d-flex.flex-sm-row.flex-column
        div.col-xs-12.col-sm-12.col-md-12.col-lg-7.col-xl-7
            div.card.border-light.mb-3.wordcloud0
                div.card-body.text-secondary#titlecont
                    div.text-center
                        h3.text-center.text-secondary
                            a(style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Overall positive wordcloud from twitter.") 
                                strong  Postive Wordcloud
                        div.chartwc.content#wordcloud0
        div.col-xs-12.col-sm-12.col-md-12.col-lg-5.col-xl-5
            div.card.border-light.mb-3.mention
                div.card-body.text-secondary#titlecont
                    div.text-center
                        h3.text-center.text-secondary
                            a(style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Overall top 10 keywords from twitter.") 
                                strong  Top 10 Keywords
                        div.justify-content-center
                            div
                                table.table.table-hover
                                    thead
                                    tr.thead-light
                                        th Pos
                                        th Word
                                        th Frequency    
                                    tbody#topmention
    div.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
        div.card.border-light.mb-3.stackedbar
            div.card-body.text-secondary#titlecont
                div.text-center
                    h3.text-center.text-secondary
                        a(style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Comparison of total post collected from Virgin America and United respectively.") 
                            strong  Overall Sentiment Airlines
                    div.justify-content-center#stackbar
                    

              

    div.d-flex.flex-sm-row.flex-column
        div.col-xs-12.col-sm-12.col-md-12.col-lg-7.col-xl-7
            div.card.border-light.mb-3.wordcloud1
                div.card-body.text-secondary#titlecont
                    div.text-center
                        h3.text-center.text-secondary
                            a(style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Negative Wordcloud from twitter.") 
                                strong  Negative Wordcloud
                        div.chartwc.content#wordcloud1
        div.col-xs-12.col-sm-12.col-md-12.col-lg-5.col-xl-5
            div.card.border-light.mb-3.mentiontweet
                div.card-body.text-secondary#titlecont
                    div.text-center
                        h3.text-center.text-secondary
                            a(style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Top 10 keywords from twitter.") 
                                strong  Top 10 Keywords
                        div.justify-content-center
                            div
                                table.table.table-hover
                                    thead
                                    tr.thead-light
                                        th Pos
                                        th Word
                                        th Frequency    
                                    tbody#topmentiontwitter

    div.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12    
        div.card.border-light.mb-3.multiaxestweet
            div.card-body.text-secondary#titlecont
                div.text-center
                    h3.text-center.text-secondary
                        a(style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Network graph for Nike friends in Twitter") 
                            strong  Network Graph For Nike
                    div.justify-content-center#multipleAxestw

    //faccbook


    div.d-flex.flex-sm-row.flex-column
        div.col-xs-12.col-sm-12.col-md-12.col-lg-7.col-xl-7
            div.card.border-light.mb-3.wordcloud2
                div.card-body.text-secondary#titlecont
                    div.text-center
                        h3.text-center.text-secondary
                            a(style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Neutral Wordcloud from twitter. ")
                                strong  Neutral Wordcloud
                        div.chartwc.content#wordcloud2
        div.col-xs-12.col-sm-12.col-md-12.col-lg-5.col-xl-5
            div.card.border-light.mb-3.mentionfb
                div.card-body.text-secondary#titlecont
                    div.text-center
                        h3.text-center.text-secondary
                            a(style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Top 10 keywords from twitter.")
                                strong  Top 10 Keywords
                        div.justify-content-center
                            div
                                table.table.table-hover
                                    thead.thead-light
                                    tr
                                        th Pos
                                        th Word
                                        th Frequency    
                                    tbody#topmentionfb

    div.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12    
        div.card.border-light.mb-3.multiaxesfb
            div.card-body.text-secondary#titlecont
                div.text-center
                    h3.text-center.text-secondary
                        a(style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Negative reason why the airlines got negative reason")
                            strong  Negative Reason For Airlines
                    div.justify-content-center#multipleAxesfb

    div.d-flex.flex-sm-row.flex-column
        div.col-xs-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
            div.card.border-light.mb-3.piechartfb
                div.card-body.text-secondary#titlecont
                    div.text-center
                        h3.text-center.text-secondary
                            a(style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Comparison of total post collected mentioning Maxis And Unifi for latest month")
                                strong  Virgin Vs United
                        div.content#piechart
        div.col-xs-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
            div.card.border-light.mb-3.barCompareFb
                div.card-body.text-secondary#titlecont
                    div.text-center
                        h3.text-center.text-secondary
                            a(style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Comparison in total sentiment for Maxis And Unifi for latest month")
                                strong  Total tweet processed
                        div.justify-content-center#barCompareFb
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            h1 3338
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br

